body{
    background-color: #F7FCE3;
    font-family: "Open sans";    
}

#footer{
    background-color: black;
    color: #aaaaaa;
    padding-top: 3em;
    padding-bottom: 3em;
}

#footer a {
    color: #aaaaaa;
    text-decoration: none;
}

#footer a:hover{
    color: #dddddd;
}

.social{
font-size: 24px;
}

#wrapper{
background-image: url(../images/background/background.jpg);
    background-position-y: 28%;
    height: 550px;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#wrapper h1{
    font-size: 55px;
}

#wrapper h2{
    font-size: 18px;
    margin-bottom: 1em;
}

.spacer{
    height: 8em;
}

.feature p{
    font-weight: 300;
    letter-spacing: 2px;
}
    
.feature img{
    margin-bottom: 2em;
}

.navbar-transparent{
    background-color: rgba(0, 0, 0, 0.75)
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 40px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.imgTeam{
width:150px;
    box-shadow: 2px 2px 5px #D4D29F;
}

.cropImg img{
margin-bottom: -100px;
}